doctype html
html
    head
        meta(http-equiv='X-UA-Compatible' content='IE=Edge')
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='keywords' content='')
        meta(name='description' content='')
        title EKA

        // main css
        link(rel='stylesheet' href='client/css/bootstrap.min.css')
        link(rel='stylesheet' href='client/css/all.min.css')
        link(rel='stylesheet' href='client/css/hover-min.css')
        link(rel='stylesheet' href='client/css/animate.css')
        link(rel='stylesheet' href='client/css/style.css')
        link(rel='stylesheet' href='client/slick/slick.css')
        link(rel='stylesheet' href='client/css/flag-icons.min.css')
        link(rel='stylesheet' href='client/fonts/fontstyle.css')

    body
        include ../_partials/header
        block content
        include ../_partials/footer
        // main js
        script(src='client/js/all.min.js')
        script(src='client/js/jquery.min.js')
        script(src='client/js/bootstrap.bundle.min.js')
        script(src='client/wow/wow.min.js')
        script(src='client/js/moment.js')
        script(src='client/slick/slick.js')
        script(src='client/js/main.js')
        script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
        script(nomodule='' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
        script(src='https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js')

        script.
            new WOW().init();

            $(function () {
                if ($(window).width() > 769) {
                    $('.menu .dropdown > a').click(function () {
                        location.href = this.href;
                    });
                }
            })






