extends _layouts/master-vp

block content
    section.px-3
        .head-title.p-3.mt-lg-3.mb-4
            .text-border.ps-3
                .fs-4.text-uppercase.fw-bold CHOOSE YOUR PATH
                .m-0 Choose one of our challenge types and get funded up to $300k
        .container.pb-4.px-0
            .row
                .col-lg-6.mx-auto
                    .d-flex.justify-content-center
                        ul.nav.nav-pills.mb-4.mb-lg-5.phase-tags(role='tablist')
                            li.nav-item(role='presentation')
                                button.nav-link.active(data-bs-toggle='pill' data-bs-target='#p1' type='button' role='tab' aria-controls='pills-home' aria-selected='true')
                                    | Phase One
                            li.nav-item(role='presentation')
                                button.nav-link(data-bs-toggle='pill' data-bs-target='#p2' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
                                    | Phase Two
                            li.nav-item(role='presentation')
                                button.nav-link(data-bs-toggle='pill' data-bs-target='#p3' type='button' role='tab' aria-controls='pills-contact' aria-selected='false')
                                    | Phase Three

                    .tab-content
                        #p1.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                            .phase-block
                                .phase-head.py-3.px-4
                                    .text-center Phase One Challenger
                                    .d-flex.justify-content-center
                                        .bg-white.rounded-4.px-3 Trade up to $300,000 Challenge
                                .phase-content.px-3.py-4
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Unlimited Maximum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 3 Minimum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 5% Daily Drawdown and 10% Max Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Phase 1 (10%) Phase 2 (5%) Profit Target
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Balance or Equity-Based Daily Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 No Lot Limits
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 EA's & Trade Copiers Allowed (Add-On)
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 First Withdrawal in 21 Days
                                    .d-flex.justify-content-center.py-3
                                        a.btn.btn-start.px-4.hvr-float-shadow(href="package.html") Start Challenge

                        #p2.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                            .phase-block
                                .phase-head.py-3.px-4
                                    .text-center Phase Two Challenger
                                    .d-flex.justify-content-center
                                        .bg-white.rounded-4.px-3 Trade up to $300,000 Challenge
                                .phase-content.px-3.py-4
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Unlimited Maximum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 3 Minimum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 5% Daily Drawdown and 10% Max Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Phase 1 (10%) Phase 2 (5%) Profit Target
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Balance or Equity-Based Daily Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 No Lot Limits
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 EA's & Trade Copiers Allowed (Add-On)
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 First Withdrawal in 21 Days
                                    .d-flex.justify-content-center.py-3
                                        a.btn.btn-start.px-4.hvr-float-shadow(href="package.html") Start Challenge

                        #p3.tab-pane.fade(role='tabpanel' aria-labelledby='pills-contact-tab' tabindex='0')
                            .phase-block
                                .phase-head.py-3.px-4
                                    .text-center Phase Three Challenger
                                    .d-flex.justify-content-center
                                        .bg-white.rounded-4.px-3 Trade up to $300,000 Challenge
                                .phase-content.px-3.py-4
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Unlimited Maximum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 3 Minimum Trading Days
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 5% Daily Drawdown and 10% Max Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Phase 1 (10%) Phase 2 (5%) Profit Target
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 Balance or Equity-Based Daily Drawdown
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 No Lot Limits
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 EA's & Trade Copiers Allowed (Add-On)
                                    .d-flex.align-items-center.py-2
                                        .flex-shrink-1
                                            .text-primary
                                                i.fa-solid.fa-circle-check
                                        .px-2.w-100 First Withdrawal in 21 Days
                                    .d-flex.justify-content-center.py-3
                                        a.btn.btn-start.px-4.hvr-float-shadow(href="package.html") Start Challenge


















