extends _layouts/master-vp

block content
    section.px-3
        .head-title.p-3.mt-lg-3.mb-4.head-bg
            .text-border.ps-3
                .fs-4.text-uppercase.fw-bold.py-3
                    i.fa-solid.fa-download.me-3
                    | Download
        .container.pb-4.px-0
            .row
                .col-lg-6
                    .card.mb-4
                        .card-body
                            .fw-bold.mb-3 Platform
                            .row.justify-content-around
                                .col-lg-5.mb-3
                                    a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                        i.fa-solid.fa-download.me-2
                                        | MT4-Platform
                                .col-lg-5
                                    a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                        i.fa-solid.fa-download.me-2
                                        | MT5-Platform
                .col-lg-6
                    .card.mb-4
                        .card-body
                            .fw-bold.mb-3 Trading on the SmartPhone
                            a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.mb-3.w-100 How to trading on the smartphone
            .card.mb-4
                .card-body
                    .fw-bold.mb-3 CIC Marketing Kit
                    .row
                        .col-lg-4.mb-3
                            a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                | Banner
                        .col-lg-4.mb-3
                            a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                | Logo
                        .col-lg-4.mb-3
                            a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                | Document
                        .col-lg-4
                            a(href='javascript:void(0)').btn.btn-start.hvr-float.btn-lg.w-100
                                | Image


















