extends _layouts/master

block content
    section
        .challenge.challenge-box
            .challenge-content.pb-3.pb-lg-5
                .container
                    .row.mx-0
                        .challenge-parter.mt-4
                            h3.text-start.text-dark.my-3 Popular Articles
                            .row.mx-0.justify-content-between.align-items-center
                                .col-md-6.col-lg-5.py-3.mt-3
                                    a.w-100.text-start(href='javacript:void(0)')
                                        .challenge-boder.text-dark
                                            | Comparative Overview of Rules Across
                                            | All Trading Challenges

                                .col-md-6.col-lg-5.py-3.mt-3
                                    a.w-100.text-start(href='javacript:void(0)')
                                        .challenge-boder.text-dark.py-4
                                            | Overview of TFT
                    .row
                        - for (var i = 0; i < 6; ++i)
                            .col-md-6.col-lg-4.py-3
                                a(href='javacript:void(0)')
                                    .card.challenge-lvl.hvr-float
                                        .card-body.h-100
                                            .challenge-img.w-100.justify-content-center.mb-3
                                                img.challenge-img(src='client/images/logo.png')
                                            .my-4.d-flex.text-title.align-center.d-flex.justify-content-center
                                                .color-titlel.text-dark Account Rules
                                            .d-flex.justify-content-center.py-3
                                                p.m-0.fw-normal.fs-4 Learn more about the evaluation rules
                        .d-flex.justify-content-center.pb-3.mt-3
                            img.img-logo(src='client/images/logo.png')


