extends _layouts/master

block content
    section(data-bs-spy="scroll" data-bs-target="#menu-scroll" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true")
        #home.banner
            .container
                .row
                    .col-lg-6
                        .banner-title
                            .text-highline Funded accounts
                            | for traders like you.
                        .banner-subtitle.my-3
                            | Access up to $250k funded accounts.
                            .text-highline Keep up to 90% profits!
                        p Lowest cost one-stage evaluation with super-simple rules.
                            br
                            | Join thousands of traders worldwide who trust
                            br
                            | CIC-funded as their prop firm trading partner.
                    .col-lg-4.offset-lg-2
                        .banner-title Trader First
                        .text-highline.my-3 CIC has one mission
                            br
                            | To help you grow your wealth
                .d-flex.justify-content-center.justify-content-lg-start.pt-3
                    a(href='javascript:void(0)').btn.btn-start.px-4.hvr-float Start Challenge
        .earn
            .container
                .row
                    .col-lg-6
                        p Build your career join the trading evaluation
                    .col-lg-6
                        p Welcome to
                            span.text-highline.ms-2  The CICFunded
                            br
                            | We Need Your Trading Skill
                .row.flex-column-reverse.flex-lg-row
                    .col-lg-6
                        .d-flex.align-items-end.justify-content-center.justify-content-lg-start.h-100.w-100.py-lg-0
                            a(href='package.html').btn.btn-start.px-4.hvr-float.btn-lg Buy Challenge
                    .col-lg-6
                        .row.py-4
                            .col-6.col-lg-5
                                img.w-100.px-1(src='client/images/earn-grow.svg')
                            .col-5.col-lg-6.offset-1
                                .d-flex.align-items-center.h-100
                                    .w-100
                                        .text-highline EARN
                                        .text-primary &
                                        .text-white GROW
        #evaluation.evaluation.bg-grey
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4 Evaluation process
                        .text-center.mb-3.mb-lg-5 Choose the funded account that best suits your unique needs.
                        .row
                            .col-lg-4
                                .step-block.mb-4
                                    .d-flex.justify-content-center.mb-3
                                        .step-box 1
                                    .step-title.mb-3.mb-lg-4 The Challenge
                                    .phase-box.p-1
                                        .phase-header.py-2 Phase 1
                                        .phase-content.bg-light.p-3
                                            p Phase 1 is the first phase of the evaluation process. You must achieve a Profit target while following the rules. In Phase 1, you will execute trades within a simulated environmen  t that looks to replicate the real market via dynamic execution settings.

                                            p Once you successfully complete all of the Trading objectives and prove your skills, you will receive your phase 2 Simulated Account within 24 hours and continue your path to getting a CIC Funded Account.
                            .col-lg-4
                                .step-block.mb-4
                                    .d-flex.justify-content-center.mb-3
                                        .step-box 2
                                    .step-title.mb-3.mb-lg-4 The Verification
                                    .phase-box.p-1
                                        .phase-header.py-2 Phase 2
                                        .phase-content.bg-light.p-3
                                            p Phase 2 is the validation phase where you will again prove your skills. You must achieve a Profit target while following the rules. In Phase 2, you will execute trades within a simulated environment that looks to replicate the real market via dynamic execution settings.
                                            p Once you successfully complete all of the Trading objectives and prove your skills, your results will be verified and you will move forward to getting a CIC Funded Account.
                            .col-lg-4
                                .step-block.mb-4
                                    .d-flex.justify-content-center.mb-3
                                        .step-box 3
                                    .step-title.mb-3.mb-lg-4 The funded trader
                                    .phase-box.p-1
                                        .phase-header.py-2 Phase 3
                                        .phase-content.bg-light.p-3
                                            p You are officially a CIC Trader with a CIC Funded Account Account. Your data is valuable and you will receive up to 95% of the earnings in your account. If you prove to be consistent, you will have the opportunity to scale up to $1,500,000 in simulated accounts. Check out our scaling plan for more details
                                                | You are able to manage up to $250,000 in CIC Funded Accounts at once. You are able to merge accounts only after the challenge phases. This is your opportunity to monetize your skills.
        #challenge.your-challenge
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4 Choose Your Challenge
                        .row.mb-3
                            .col-lg-4
                                .mb-2.mb-lg-0 CIC Challenge
                            .col-lg-8
                                .d-flex.justify-content-between
                                    input#option1.btn-check(type='radio' name='challenge' autocomplete='off' checked='')
                                    label.btn.btn-primary(for='option1') One Phase
                                    input#option2.btn-check(type='radio' name='challenge' autocomplete='off')
                                    label.btn.btn-primary(for='option2') Two Phase
                                    input#option3.btn-check(type='radio' name='challenge' autocomplete='off')
                                    label.btn.btn-primary(for='option3') Three Phase
                        .row.mb-3
                            .col-lg-4
                                .mb-2.mb-lg-0 Account Size
                            .col-lg-8
                                .row.justify-content-center.row-cols-3.row-cols-lg-4
                                    .px-2.mb-3
                                        input#size1.btn-check(type='radio' name='account' autocomplete='off' checked='')
                                        label.btn.btn-start.w-100(for='size1') $5.000
                                    .px-2.mb-3
                                        input#size2.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size2') $10.000
                                    .px-2.mb-3
                                        input#size3.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size3') $20.000
                                    .px-2.mb-3
                                        input#size4.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size4') $50.000
                                    .px-2.mb-3
                                        input#size5.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size5') $100.000
                                    .px-2.mb-3
                                        input#size6.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size6') $200.000
                                    .px-2.mb-3
                                        input#size7.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size7') $250.000
                                    .px-2.mb-3
                                        input#size8.btn-check(type='radio' name='account' autocomplete='off')
                                        label.btn.btn-start.w-100(for='size8') $300.000
                        .d-flex.justify-content-center.justify-content-lg-start.py-4
                            button.btn.btn-start.px-4.hvr-float(type='button') Quick Comparison
                        .table-responsive.p-2.p-lg-3
                            table.table.text-center.mb-0
                                thead
                                    tr
                                        th(scope='col')
                                            img(src='client/images/logo.png' style='width: 150px')
                                        th(scope='col')
                                            .text-highline.fw-bold.fs-5 PHASE 1
                                            .text-center.text-secondary Challenge
                                        th(scope='col')
                                            .text-highline.fw-bold.fs-5 PHASE 2
                                            .text-center.text-secondary Verification
                                        th(scope='col')
                                            .text-highline.fw-bold.fs-5 PHASE 3
                                            .text-center.text-secondary Certification
                                tbody
                                    tr
                                        td.text-start Trading Period
                                        td Unlimited
                                        td Unlimited
                                        td Indefinite
                                    tr
                                        td.text-start Minimum Trading Days
                                        td 5
                                        td 5
                                        td 5
                                    tr
                                        td.text-start Challenge Leverage
                                        td 1:50
                                        td 1:50
                                        td 1:50
                                    tr
                                        td.text-start Virtual Profit Target
                                        td $4,000 (8%)
                                        td $2,500 (5%)
                                        td None
                                    tr
                                        td.text-start Maximum Loss
                                        td $4,000 (8%)
                                        td $4,000 (8%)
                                        td $4,000 (8%)
                                    tr
                                        td.text-start Maximum Daily Loss
                                        td $4,000 (8%)
                                        td $4,000 (8%)
                                        td $4,000 (8%)
                                    tr
                                        td.text-start Drawdown Type
                                        td Equity & Balance
                                        td Equity & Balance
                                        td Equity & Balance
                                    tr
                                        td.text-start Weekend Holding
                                        td Yes
                                        td Yes
                                        td Yes
                                    tr
                                        td.text-start Expert Abvisor
                                        td Yes
                                        td Yes
                                        td Yes
                                    tr
                                        td.text-start Virtual Profit Split
                                        td X
                                        td X
                                        td 75% With scalling
                                    tr
                                        td.text-start First Withdrawal
                                        td X
                                        td X
                                        td 30 Days
                                    tr
                                        td.text-start First Withdrawal Bounus
                                        td $289 USD
                                        td Free
                                        td First Withdrawal Bounus
                        .d-flex.justify-content-center.justify-content-lg-start.py-4
                            button.btn.btn-start.px-4.hvr-float(type='button') Buy Challenge now
        .payout
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4.text-highline Funded Trader Payouts
                        .row
                            .col-lg-7
                                p.text-highline Once you pass the Challenge
                                p you will have the opportunity to start trading a CIC Funded
                                    | Account. There you will earn up to 90% split of any earning made on your CIC Funded Account.
                                p All Funded Traders can request payouts through the Withdrawal page on the Trade Hub. Compile your trading data and see if you
                                    | can make it to the top of the leaderboard amongst the best traders in the world!
                            .col-lg-4.offset-lg-1
                                .fs-4.mb-3 Payout List
                                .text-highline.mb-3 Last 7 days
                                - for (var i = 0; i < 6; ++i)
                                    .row
                                        .col-3
                                            | 1st
                                        .col-3
                                            | Kevin
                                        .col-3
                                            | 21%
                                        .col-3
                                            | $975.33
        .key
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4 Key Hightlight
                        .text-center.text-lg-start.fw-bold.mb-4 CIC Challenge
                        .row
                            .col-lg-4.mb-4
                                .challenge-key-box
                                    .box-head.text-center.text-dark.py-2
                                        | 21 days to first payout
                                    .box-content.py-4.px-3
                                        p Achieve your first payout in as little as two weeks. You will receive the payout within 24 hours of making the request.
                            .col-lg-4.mb-4
                                .challenge-key-box
                                    .box-head.text-center.text-dark.py-2
                                        | Highest leverage offering
                                    .box-content.py-4.px-3
                                        p Take advantage of additional leverage during the Standard Challenge which offers up to 1:200 leverage on simulated FX pairs during the evaluation period.
                            .col-lg-4.mb-4
                                .challenge-key-box
                                    .box-head.text-center.text-dark.py-2
                                        | EAs and Trade Copiers Add-on
                                    .box-content.py-4.px-3
                                        p Opting for this add-on will allow you to use EAs and Trade Copiers at your convenience, so you can enjoy seamless Trading experience while utilizing your favorite tools.
        .why-choose.bg-grey
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4.text-highline WHY CHOOSE CICFUNDING TRADER
                        .table-responsive.p-2.p-lg-3
                            table.table.text-center.mb-0
                                thead
                                    tr
                                        th(scope='col')
                                        th(scope='col')
                                            img(src='client/images/logo.png' style='width: 150px')
                                        th(scope='col')
                                            img(src='client/images/logo.png' style='width: 150px')
                                        th(scope='col')
                                            img(src='client/images/logo.png' style='width: 150px')
                                tbody
                                    tr
                                        td.text-start Number of Programs Offered
                                        td 1
                                        td 3
                                        td 5
                                    tr
                                        td.text-start One Step Challenge
                                        td
                                            .text-danger.fs-5
                                                i.fa-solid.fa-circle-xmark
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start Max Virtual Allocation
                                        td $400k
                                        td $300k
                                        td $600k
                                    tr
                                        td.text-start Balance Based Daily Drawdown
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start First Withdrawal 7 Days
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start Phase 1 Target 8%
                                        td
                                            .text-danger.fs-5
                                                i.fa-solid.fa-circle-xmark
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start No Minimum Days
                                        td
                                            .text-danger.fs-5
                                                i.fa-solid.fa-circle-xmark
                                        td
                                            .text-danger.fs-5
                                                i.fa-solid.fa-circle-xmark
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start No Time Limits
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                        td
                                            .text-success.fs-5
                                                i.fa-solid.fa-circle-check
                                    tr
                                        td.text-start Max Profit Share
                                        td 90%
                                        td 90%
                                        td 95%
                                    tr
                                        td.text-start $100 Challenge Price
                                        td $578
                                        td $519
                                        td $489
        #faq.faq
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4.text-highline Popular FAQs
                        .row
                            .col-lg-5
                                .d-flex.justify-content-center.align-items-center.h-100.w-100
                                    .faq-title
                                        .text-highline FAQs About
                                        .text-highline Challenge
                                        .text-highline Programe
                            .col-lg-7
                                .accordion
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#q1' aria-expanded='true' aria-controls='collapseOne')
                                                | Accordion Item #1
                                        #q1.accordion-collapse.collapse.show(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the first item&apos;s accordion body.
                                                |  It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#q2' aria-expanded='false' aria-controls='collapseTwo')
                                                | Accordion Item #2
                                        #q2.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the second item&apos;s accordion body.
                                                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#q3' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #3
                                        #q3.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#q4' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #4
                                        #q4.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#q5' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #5
                                        #q5.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
                                    .accordion-item
                                        h2.accordion-header
                                            button.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#q6' aria-expanded='false' aria-controls='collapseThree')
                                                | Accordion Item #6
                                        #q6.accordion-collapse.collapse(data-bs-parent='#accordionExample')
                                            .accordion-body
                                                strong This is the third item&apos;s accordion body.
                                                |  It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It&apos;s also worth noting that just about any HTML can go within the
                                                code .accordion-body
                                                | , though the transition does limit overflow.
        .funding.bg-grey
            .container
                .row
                    .col-lg-10.mx-auto
                        .d-flex.justify-content-center
                            .title.pb-3.mb-4.text-highline THE CICFUNDING TRADING EXPERIENCE
                        .row
                            - for (var i = 0; i < 6; ++i)
                                .col-lg-4
                                    .funding-box.mb-3
                                        .funding-head.mb-3
                                            .d-flex.align-items-center
                                                img.funding-icon.me-3(src='client/images/icon.png')
                                                .text-highline.fs-5 Trade Your Style
                                        p Whether you scalp, trade the news or swing trade, we want you to profit using your preferred trading method.
















