extends _layouts/master

block content
    section
        #carouselExampleControlsNoTouching.carousel.slide(data-bs-touch='false')
            .carousel-inner
                .carousel-item.active
                    #slick-slide00.items.text-center.slick-slide.slick-current.slick-active(data-color='#fde9d8' style='background-color: rgb(253, 233, 216); width: 1601px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;' data-slick-index='0' aria-hidden='false' tabindex='0' role='tabpanel' aria-describedby='slick-slide-control00')
                        .d-flex.position-relative.flex-column-reverse.flex-sm-row
                            .view-more.d-flex.w-100.h-100.position-absolute.justify-content-center.align-items-center
                                .wrap-circle.position-relative
                                    a.circle-a-view-more.text-uppercase(href='/collections/all' title='Bộ đôi chống<br/>lão hoá da' tabindex='0')
                                        | Xem
                                        br
                                        |  Th&ecirc;m
                                        span
                                        svg.icon.position-absolute
                                            use(:href='#ega-view-more-raw')
                            .content-wrap.col.col-sm-6.mx-0.px-0
                                h4 V&#x1EEB;a ra m&#x1EAF;t
                                h2
                                    | B&#x1ED9; &dstrok;&ocirc;i ch&#x1ED1;ng
                                    br
                                    | l&atilde;o ho&aacute; da
                                .desc
                                    | V&#x1EDB;i th&agrave;nh ph&#x1EA7;n chi&#x1EBF;t xu&#x1EA5;t t&#x1EEB; h&#x1EA1;t x&#x1B0;&#x1A1;ng r&#x1ED3;ng h&#x1EEF;u c&#x1A1; v&agrave; c&oacute; ch&#x1EE9;a ch&#x1EA5;t Aquacacteen gi&uacute;p l&agrave;m d&#x1ECB;u da b&#x1ECB; d&#x1ECB; &#x1EE9;ng c&ugrave;ng &dstrok;&#x1EB7;c t&iacute;nh d&#x1B0;&#x1EE1;ng &#x1EA9;m tuy&#x1EC7;t v&#x1EDD;i do ch&#x1EE9;a h&agrave;m l&#x1B0;&#x1EE3;ng cao c&aacute;c h&#x1EE3;p ch&#x1EA5;t gi&#x1EEF; n&#x1B0;&#x1EDB;c.
                            .col.col-sm-6.mx-0.px-0
                                a(href='' title='Slider 1' tabindex='0')
                                    picture
                                        source(media='(max-width: 480px)' srcset='//bizweb.dktcdn.net/thumb/large/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256')
                                        img.img-fluid.w-100(fetchpriority='high' decoding='async' src='//bizweb.dktcdn.net/thumb/grande/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256' width='1920' height='778' alt='Slider 1')

                .carousel-item
                    #slick-slide00.items.text-center.slick-slide.slick-current.slick-active(data-color='#fde9d8' style='background-color: rgb(253, 233, 216); width: 1601px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;' data-slick-index='0' aria-hidden='false' tabindex='0' role='tabpanel' aria-describedby='slick-slide-control00')
                        .d-flex.position-relative.flex-column-reverse.flex-sm-row
                            .view-more.d-flex.w-100.h-100.position-absolute.justify-content-center.align-items-center
                                .wrap-circle.position-relative
                                    a.circle-a-view-more.text-uppercase(href='/collections/all' title='Bộ đôi chống<br/>lão hoá da' tabindex='0')
                                        | Xem
                                        br
                                        |  Th&ecirc;m
                                        span
                                        svg.icon.position-absolute
                                            use(xlink:href='#ega-view-more-raw')
                            .content-wrap.col.col-sm-6.mx-0.px-0
                                h4 V&#x1EEB;a ra m&#x1EAF;t
                                h2
                                    | B&#x1ED9; &dstrok;&ocirc;i ch&#x1ED1;ng
                                    br
                                    | l&atilde;o ho&aacute; da
                                .desc
                                    | V&#x1EDB;i th&agrave;nh ph&#x1EA7;n chi&#x1EBF;t xu&#x1EA5;t t&#x1EEB; h&#x1EA1;t x&#x1B0;&#x1A1;ng r&#x1ED3;ng h&#x1EEF;u c&#x1A1; v&agrave; c&oacute; ch&#x1EE9;a ch&#x1EA5;t Aquacacteen gi&uacute;p l&agrave;m d&#x1ECB;u da b&#x1ECB; d&#x1ECB; &#x1EE9;ng c&ugrave;ng &dstrok;&#x1EB7;c t&iacute;nh d&#x1B0;&#x1EE1;ng &#x1EA9;m tuy&#x1EC7;t v&#x1EDD;i do ch&#x1EE9;a h&agrave;m l&#x1B0;&#x1EE3;ng cao c&aacute;c h&#x1EE3;p ch&#x1EA5;t gi&#x1EEF; n&#x1B0;&#x1EDB;c.
                            .col.col-sm-6.mx-0.px-0
                                a(href='/collections/all' title='Slider 1' tabindex='0')
                                    picture
                                        source(media='(max-width: 480px)' srcset='//bizweb.dktcdn.net/thumb/large/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256')
                                        img.img-fluid.w-100(fetchpriority='high' decoding='async' src='//bizweb.dktcdn.net/thumb/grande/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256' width='1920' height='778' alt='Slider 1')

                .carousel-item
                    #slick-slide00.items.text-center.slick-slide.slick-current.slick-active(data-color='#fde9d8' style='background-color: rgb(253, 233, 216); width: 1601px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;' data-slick-index='0' aria-hidden='false' tabindex='0' role='tabpanel' aria-describedby='slick-slide-control00')
                        .d-flex.position-relative.flex-column-reverse.flex-sm-row
                            .view-more.d-flex.w-100.h-100.position-absolute.justify-content-center.align-items-center
                                .wrap-circle.position-relative
                                    a.circle-a-view-more.text-uppercase(href='/collections/all' title='Bộ đôi chống<br/>lão hoá da' tabindex='0')
                                        | Xem
                                        br
                                        |  Th&ecirc;m
                                        span
                                        svg.icon.position-absolute
                                            use(xlink:href='#ega-view-more-raw')
                            .content-wrap.col.col-sm-6.mx-0.px-0
                                h4 V&#x1EEB;a ra m&#x1EAF;t
                                h2
                                    | B&#x1ED9; &dstrok;&ocirc;i ch&#x1ED1;ng
                                    br
                                    | l&atilde;o ho&aacute; da
                                .desc
                                    | V&#x1EDB;i th&agrave;nh ph&#x1EA7;n chi&#x1EBF;t xu&#x1EA5;t t&#x1EEB; h&#x1EA1;t x&#x1B0;&#x1A1;ng r&#x1ED3;ng h&#x1EEF;u c&#x1A1; v&agrave; c&oacute; ch&#x1EE9;a ch&#x1EA5;t Aquacacteen gi&uacute;p l&agrave;m d&#x1ECB;u da b&#x1ECB; d&#x1ECB; &#x1EE9;ng c&ugrave;ng &dstrok;&#x1EB7;c t&iacute;nh d&#x1B0;&#x1EE1;ng &#x1EA9;m tuy&#x1EC7;t v&#x1EDD;i do ch&#x1EE9;a h&agrave;m l&#x1B0;&#x1EE3;ng cao c&aacute;c h&#x1EE3;p ch&#x1EA5;t gi&#x1EEF; n&#x1B0;&#x1EDB;c.
                            .col.col-sm-6.mx-0.px-0
                                a(href='/collections/all' title='Slider 1' tabindex='0')
                                    picture
                                        source(media='(max-width: 480px)' srcset='//bizweb.dktcdn.net/thumb/large/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256')
                                        img.img-fluid.w-100(fetchpriority='high' decoding='async' src='//bizweb.dktcdn.net/thumb/grande/100/492/958/themes/921762/assets/slider_1.jpg?1711509037256' width='1920' height='778' alt='Slider 1')

            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleControlsNoTouching' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
