extends _layouts/master-vp

block content
    section.px-3
        .head-title.p-3.mt-lg-3.mb-4.head-bg
            .text-border.ps-3
                .fs-4.text-uppercase.fw-bold.py-3 ORDER CONFIRM
        .container.pb-4.px-0
            .row
                .col-lg-6.mb-4
                    .border.p-3.p-lg-5.rounded-3.h-100
                        .fs-4.py-4.text-center Your Order Has Been Received
                        p In order to receive your credentials you must select one of the payments options below.
                        p Once the payment is confirmed you will be issued credentials instantly.
                        p When paying with crypto, there will be a slight delay while waiting for confirmation on the blockchain.
                .col-lg-6.mb-4
                    .border.py-3.rounded-3.h-100
                        .row.py-2.border-bottom.mx-0
                            .col-4
                                | Product Type
                            .col-8
                                | Standard Challenge OnePhase
                        .row.py-2.border-bottom.mx-0
                            .col-4
                                | Account Size
                            .col-8
                                | $100.000
                        .row.py-2.border-bottom.mx-0
                            .col-4
                                | Platform
                            .col-8
                                | MT4
                        .row.py-2.border-bottom.mx-0
                            .col-4
                                | Add-ons
                            .col-8
                                | EAs/Trade Copiers Enabled
                        .row.py-2.border-bottom.mx-0
                            .col-4
                                | Subtotal
                            .col-8
                                | $500.00
                        .row.py-2.border-bottom.mx-0.mb-4
                            .col-4
                                | Discount
                            .col-8
                                | - $0.00
                        .py-3
                            .total-row.row.mx-0
                                .col-4
                                    | Subtotal
                                .col-8
                                    | $500.00
            .border.p-3.rounded-3
                .pb-2.fw-bold Pay Order By
                .pay-method
                    .row
                        .col-lg-4
                            a(href='order-check.html')
                                .method-block.mb-3
                                    .method-title.py-2.text-center.text-light Pay with Crypto
                                    .d-flex.justify-content-center.py-2
                                        img.method-img(src='client/images/usdt.png')


















