extends _layouts/master-vp

block content
    section.px-3
        .head-title.p-3.mt-lg-3.mb-4.head-bg
            .text-border.ps-3
                .fs-4.text-uppercase.fw-bold.py-3
                    i.fa-solid.fa-sack-dollar.me-3
                    | PAYOUT
        .container.pb-4.px-0
            .card.mb-4
                .card-body
                    .fw-bold.mb-3 Welcome to the Payouts tab. If you have a Funded Account and are eligible to request a withdrawal, you can submit withdrawal requests here.
                    ul.mb-3
                        li
                            span.fw-bold.me-2 Onephase
                            | the first withdrawal is available 21 days after your first trade
                        li
                            span.fw-bold.me-2 Twophase
                            | the first withdrawal is available 14 days after your first trade
                        li
                            span.fw-bold.me-2 Threephase
                            | the first withdrawal is available 7 days after your first trade
                    p All subsequent withdrawals for Standard Funded Accounts can be requested 14 days after the date of your first trade following any previous withdrawal.
                    p Accounts subsequent withdrawals can be requested 7 days after the date of your first trade following any previous withdrawal.
                    p In order to process a withdrawal simply select your account and click on the “Submit” button.
                    p Withdrawals are processed within 3 business days of the request for Standard accounts and 2 business days for CICProgram accounts.
            .card
                .card-body
                    .row.mb-3
                        .col-md-3
                            .d-flex.align-items-center.h-100
                                | Choose Your Account
                        .col-md-3
                            select.form-select.rounded-3(aria-label='Default select example')
                                option(selected='') 1231534
                                option(value='1') 1231534
                                option(value='2') 1231534
                                option(value='3') 1231534
                    table.table.table-striped
                        thead
                            tr
                                th(scope='col') Login
                                th(scope='col') Balance
                                th(scope='col') Name
                        tbody
                            - for (var i = 0; i < 10; i++)
                                tr
                                    td 2352726
                                    td $534.004
                                    td Dr Trí
                    .d-flex.justify-content-center.justify-content-lg-end
                        a(href='order-confirm.html').btn.btn-start.hvr-float.px-4 Request


















