extends _layouts/master-vp

block content
    section.px-3
        .head-title.p-3.mt-lg-3.mb-4
            ul.nav.nav-pills.my-3.justify-content-around(role='tablist')
                li.nav-item(role='presentation')
                    button.nav-link.px-lg-5.active(data-bs-toggle='pill' data-bs-target='#infor' type='button' role='tab' aria-controls='pills-home' aria-selected='true')
                        i.fa-solid.fa-user.me-2
                        span.d-none.d-md-inline Personal Information
                        span.d-md-none Information
                li.nav-item(role='presentation')
                    button.nav-link.px-lg-5(data-bs-toggle='pill' data-bs-target='#account' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
                        i.fa-solid.fa-shield-halved.me-2
                        span.d-none.d-md-inline Account Security
                        span.d-md-none Account
        .container.pb-4.px-0
            .tab-content
                #infor.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-home-tab' tabindex='0')
                    .row
                        .col-lg-8.mx-auto
                            .card.mb-4
                                .card-body
                                    .fw-bold.py-1.border-bottom.mb-3 Billing Information
                                    .row.justify-content-lg-between
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light First Name
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Last Name
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Email
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Phone
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Address
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Town/City
                                                .input-group
                                                    input.form-control.rounded-3(type='text')
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light Country
                                                select.form-select.rounded-3(aria-label='Default select example')
                                                    option(selected='') Country
                                                    option(value='1') One
                                                    option(value='2') Two
                                                    option(value='3') Three
                                        .col-md-6.col-lg-5
                                            .mb-3
                                                label.form-label.fw-light State
                                                .input-group
                                                    input.form-control.rounded-3(type='text')


                                    .d-flex.justify-content-center.py-3
                                        a(href='order-confirm.html').btn.btn-start.hvr-float Save Changes
                #account.tab-pane.fade(role='tabpanel' aria-labelledby='pills-profile-tab' tabindex='0')
                    .row
                        .col-lg-8.mx-auto
                            .card.mb-4
                                .card-body
                                    .fw-bold.py-1.border-bottom.mb-3 Update Password
                                    .mb-3
                                        label.form-label.fw-light Current Password
                                        .input-group
                                            input.form-control.rounded-3(type='password')
                                    .mb-3
                                        label.form-label.fw-light New Password
                                        .input-group
                                            input.form-control.rounded-3(type='password')
                                    .mb-3
                                        label.form-label.fw-light Confirm New Password
                                        .input-group
                                            input.form-control.rounded-3(type='password')
                                    .d-flex.justify-content-center.py-3
                                        a(href='order-confirm.html').btn.btn-start.hvr-float Save Changes

















