footer.py-3.py-lg-4
    .container
        .d-flex.justify-content-center.pb-3
            img.img-logo(src='client/images/logo.png')
        .d-block.d-lg-flex.justify-content-around
            p
                a(href='javascript:void(0)').text-white Funding Process
            p
                a(href='javascript:void(0)').text-white Privacy Policy
            p
                a(href='javascript:void(0)').text-white Affiliate Programe
            p
                a(href='javascript:void(0)').text-white Contact Us
        .row.py-3
            .col-lg-7
                .fs-4.text-primary Join one of our competitions every month We host free competitions for traders
            .col-lg-4.offset-lg-1
                .input-group
                    input.form-control.py-3.border-0(type='text' placeholder="Your Email")
                    span.input-group-text.bg-white.border-0
                        button.btn.p-0.border-0(type='submit')
                            .text-highline Submit
        .row.pt-3
            .col-lg-8
                p(style='font-size:12px') Financial instrument trading, including trading activities referenced by or undertaken utilizing The Funded Trader LLC, involves substantial
                    | risk of loss and is not suitable for every investor. The valuation of financial instruments, such as foreign exchange contracts, futures, and
                    | options, may be highly volatile and fluctuate significantly and as a result, clients may lose or gain more than their initial trade order.
                    | The impact of seasonal and geopolitical events may be already factored into market prices. The highly leveraged nature of trading means
                    | that even small price movements may have a great impact on a trading account, potentially resulting in substantial losses or gains.
                    | The Funded Trader does not offer or provide trading or investment recommendations, and any trading or investment decisions you make
                    | are entirely your responsibility and at your own risk. Past performance is not necessarily indicative of future results. The performance
                    | quoted represents past performance in a simulated environment and does not guarantee current or future performance or that losses will not occur.
            .col-lg-4
                .d-flex.align-items-center.justify-content-center.h-100
                    button.btn.btn-primary.rounded-3.btn-lg.hvr-float(type='button') Claim Challenge Now