.offcanvas-header.p-0
.offcanvas-body
    ul.navbar-nav.bg-black
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.fa-solid.fa-gauge
                span.nav-link-text.ms-1 Dashboard
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 table_view
                span.nav-link-text.ms-1 Tables
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 receipt_long
                span.nav-link-text.ms-1 Billing
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 view_in_ar
                span.nav-link-text.ms-1 Virtual Reality
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 format_textdirection_r_to_l
                span.nav-link-text.ms-1 RTL
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 notifications
                span.nav-link-text.ms-1 Notifications
        li.nav-item.mt-3
            h6.ps-4.ms-2.text-uppercase.text-xs.text-white.font-weight-bolder.opacity-8 Account pages
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 person
                span.nav-link-text.ms-1 Profile
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 login
                span.nav-link-text.ms-1 Sign In
        li.nav-item
            a.nav-link.text-white(href='')
                .text-white.text-center.me-2.d-flex.align-items-center.justify-content-center
                    i.material-icons.opacity-10 assignment
                span.nav-link-text.ms-1 Sign Up


