.offcanvas-header.p-0
    img.w-100(src='client/images/logo-vp.png')
.offcanvas-body.pt-4
    ul.nav.flex-column.side-menu
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='dashboard.html')
                i.fa-solid.fa-house.me-3
                | Home
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='profile.html')
                i.fa-solid.fa-address-card.me-3
                | My Profile
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='javascript:void(0)')
                i.fa-solid.fa-user.me-3
                | Account Overview
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='payout.html')
                i.fa-solid.fa-sack-dollar.me-3
                | Payout
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='javascript:void(0)')
                i.fa-solid.fa-users.me-3
                | Affiliate Portal
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='download.html')
                i.fa-solid.fa-download.me-3
                | Download
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='index.html')
                i.fa-solid.fa-backward.me-3
                | Back To Website
        li.nav-item
            a.nav-link.hvr-forward.py-3(href='login.html')
                i.fa-solid.fa-right-from-bracket.me-3
                | Logout

